#board {
  display: grid;
  grid-template-areas: "0" "1" "2" "3" "4" "5" "6" "7" "8" "9";
  grid-auto-rows: 3em;
}

.row {
  display: grid;
  grid-template-areas: "0 1 2 3 4 5 6 7 8 9";
  grid-auto-columns: 3em;
}

.box {
  border: 1px solid black;
}

.clicked {
  background-color: lightgrey;
}

.unclicked {
  background-color: darkgrey;
}