#app {
  width: 600px;
  text-align: center;
}

#pinsDisplay {
  display: grid;
  grid-template-areas: "display selector";
}

#image {
  grid-area: display;
  width: 400px;
  text-align: center;
}

#pin_selector {
  grid-area: selector;
  text-align: center;
  width: 150px;
}

#keypad {
  display: grid;
  grid-template-areas: "1 2 3";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.number {
  height: 40px;
  width: 40px;
}

.notAvail {
  height: 40px;
  width: 40px;
  background-color: darkgrey;
}

#display {
  display: grid;
  grid-template-areas: "row_0""row_1""row_2""row_3";
  text-align: center;
}

/*************************
ScoreCard Styling
*************************/
#scorecard h3 {
  border: 1px solid black;
  margin:0;
  padding: 12px 2px;
}

#scorecard h4 {
  border: 1px solid black;
  margin: 0;
  padding: 12px 40px;
}

#scorecard {
  display: grid;
  grid-template-areas: "name 1 2 3 4 5 6 7 8 9 10 total";
}

#username {
  width: 120px;
  border: 1px solid black;
  height: 50px
}

.frame {
  position: relative;
  border: 1px solid black;
  width: 100px;
  height: 50px;
}

.balls {
  display: grid;
  grid-template-areas: "ball_1 ball_2";
  border: 1px solid black;
  width: 52px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

.ball_1 {
  grid-area: ball_1;
  border-right: 1px solid black;
}

.ball_2 {
  grid-area: ball_2;
}

.frame_score {
  position: absolute;
  bottom: 5px;
  left: 10px;
}

/*************************
Display Styling
*************************/

.row_0 {
  grid-area: row_0;
  width: 20px;
  margin: 0 auto;
}

.row_1 {
  grid-area: row_1;
  width: 42px;
  margin: 0 auto;
}

.row_2 {
  grid-area: row_2;
  width: 63px;
  margin: 0 auto;
}

.row_3 {
  grid-area: row_3;
  width: 84px;
  margin: 0 auto;
}


.down {
  display: inline-block;
  height: 17px;
  width: 17px;
  border: 1px solid black;
  border-radius: 17px;
  text-align: center; 
  margin: 1px;
}

.up {
  display: inline-block;
  height: 17px;
  width: 17px;
  border: 1px solid black;
  border-radius: 17px;
  margin: 1px;
}